:root{
    --main-color: #0f6262;
    --main-color-white: rgb(1, 123, 123);
    --main-gradient: linear-gradient(var(--main-color), var(--main-color-white), var(--main-color));
    --main-danger: rgb(255, 0, 60);
    --main-success: rgb(0, 68, 45);
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}
/* :root{
    --main-color: #000000;
    --main-color-white: rgb(70, 70, 70);
    --main-gradient: linear-gradient(var(--main-color), var(--main-color-white), var(--main-color));
    --main-danger: rgb(255, 0, 60);
    --main-success: rgb(0, 68, 45);
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
} */
/* :root {
    --main-color: #000226;
    --main-color-white: #17193f;
    --main-gradient: linear-gradient(var(--main-color), var(--main-color-white), var(--main-color));
    --main-danger: rgb(255, 0, 60);
    --main-success: rgb(0, 68, 45);
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
} */

/* :root{
    --main-color: #b0008a;
    --main-color-white: rgb(255, 82, 229);
    --main-gradient: linear-gradient(var(--main-color), var(--main-color-white), var(--main-color));
    --main-danger: rgb(255, 0, 60);
    --main-success: rgb(0, 68, 45);
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
} */
/* :root{
    --main-color: #154200;
    --main-color-white: rgb(26, 246, 37);
    --main-gradient: linear-gradient(var(--main-color), var(--main-color-white), var(--main-color));
    --main-danger: rgb(255, 0, 60);
    --main-success: rgb(0, 68, 45);
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
} */
/* :root{
    --main-color: #ff4d00;
    --main-color-white: rgb(255, 155, 32);
    --main-gradient: linear-gradient(var(--main-color), var(--main-color-white), var(--main-color));
    --main-danger: rgb(255, 0, 60);
    --main-success: rgb(0, 68, 45);
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
} */