
.UserDashboard-container{
    flex:1;
    overflow-x: scroll;
    min-height: 60vh;
}
.UserDashboard aside{
    width: 295px;
}
@media screen and (max-width: 900px){
    .UserDashboard{
        flex-direction: column;
    }
    .UserDashboard aside{
        width: 100%;
    }
}