.form-group{
    margin: 15px 0;
    flex-direction: column;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

form textarea{
    border: 1px solid #ccc;
    resize: none;
    outline: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif

}
form[name="article"]{
    max-width: 100%;
    margin: auto;
}
form .select2-selection{
    border: 1px solid #ccc !important;
    border-radius: 0 !important;

}
form .select2-selection,
form select{
    border: 1px solid #ccc;
    border-radius: 0 !important;
    outline: none;
    min-height: 40px;

}
form input[type="file"] {
    overflow: hidden;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
}
form input{
    min-height: 40px;
    border: 1px solid #ccc;
    outline: none;
    padding: 0 10px;
    order: 1;
    font-size: 1.3rem;
}

form{
    max-width: 600px;
    width: 90%;
    margin: 50px auto;
    height: 100%;
}
form p{
    text-align: center;
}
form p a{
    color: var(--main-color);
}
form .label-container{
    /* display: none; */
    width: 150px;
    overflow: hidden;
}
form ul {
    margin: 2px 0;
    padding: 0;
    list-style: none;
    font-size: 0.8rem;
    order: 2;
}
form .form-group> ul li{
    color: var(--main-danger) !important;
}
form .image-preview img{
    width: 100px;
    height: 100px;
}