header{
    background: white;
    color: var(--main-color);
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 25px #1d1d1d;
    position: sticky;
    top: 0;
    z-index: 99999;
    padding: 0 30px;
    cursor: pointer;
}
header h2{
    text-shadow: 1px 1px 25px #1d1d1d;
    text-transform: uppercase;
}
header nav{
    flex: 1;
}
header nav ul{
    list-style-type: none;
    gap: 20px;
    text-transform: uppercase;
    flex-wrap: wrap;
    justify-content: center;
}
header nav ul li{
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
}
header nav > ul >li >a{
    padding: 5px;
    font-weight: bold;
}
header nav > ul >li:hover> a{
    background-color: white;
    color: var(--main-color);
}
header nav ul li:hover ul{
    display: block;
}

header nav ul li ul{
    position: absolute;
    top: 80px;
    left: 0;
    padding: 0;
    min-width: 300px;
    background-color: white;
    color: var(--main-color);
    display: none;
}
header nav ul li ul li{
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    white-space: nowrap;
}
header nav ul li ul li a{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
header nav ul li ul li:hover{
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}
header nav > ul li ul{
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 2px 25px #1d1d1d;
}
.nav-icon{
    display: none;
    font-size: 2rem;
}
.header-page{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-gradient);
    color: white;
    text-transform: uppercase;
}
@media screen and (max-width: 900px) {
    .container{}
    header{
        display: flex;
        justify-content: space-between;
    }
    header nav{
        background-color: white;
        color: var(--main-color);
        font-weight: bold;
        position: fixed;
        top: 0px;
        left: 0;
        width: 80%;
        height: 100vh;
        box-shadow: 0 2px 25px #1d1d1d;
        display: none;
    }
    header nav ul{
        flex-direction: column;
        padding: 0;
    }
    header nav ul li ul{
        left: -93px;
        width: 80%;
        background-color: white;
        color: var(--main-color);
    }
    .nav-icon{
        display: block ;
    }
}