{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}
{% set aside = "not" %}

{% block header %}
    {{ include('header/header.html.twig', {name :  "Dashboard" })}}
{% endblock %}
{% block body %}

    <div class="UserDashboard flex gap-20">
        {{ include('account_dashboard/index.html.twig', {page: "index"}) }}
        <div class="UserDashboard-container">
            <h2>Welcome to your dashboard</h2>
            <p>You will be able to manage your account from here.</p>
        </div>
    </div>

 

{% endblock %}
    

