<!-- Highlights - jumbotron -->
<div class="jumbotron top-space">
    <div class="container">

        <h3 class="text-center thin">En manque d'inspiration ? <br> Vous pouvez parler de </h3>

        <div class="row">
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-heart"></i>Romance</h4></div>
                <div class="h-body text-center">
                    <p>Bienvenue dans notre catégorie Romance, où l'amour est roi. Partagez vos histoires d'amour et découvrez celles des autres. Laissez votre cœur s'embraser en explorant l'univers de l'amour. Rejoignez-nous dans cette aventure romantique.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-book fa-5"></i>Fiction</h4></div>
                <div class="h-body text-center">
                    <p> Bienvenue dans notre catégorie Fiction, un espace pour l'imagination débridée. Partagez vos histoires captivantes, vos fictions les plus créatives et plongez dans celles des autres. Rejoignez notre communauté d'écrivains en herbe et de passionnés de l'imaginaire. Laissez votre esprit vagabonder.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-plane fa-5"></i>Voyage</h4></div>
                <div class="h-body text-center">
                    <p>Bienvenue dans notre catégorie Voyages, où les récits de voyages et les photos inspirantes sont les bienvenus. Partagez vos histoires d'aventures à travers le monde et découvrez les destinations qui font rêver. Rejoignez notre communauté de voyageurs et laissez-vous emporter par leur passion pour les découvertes.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Histoire</h4></div>
                <div class="h-body text-center">
                    <p>
                        Bienvenue dans notre catégorie Histoire, un espace pour explorer les événements passés et comprendre notre présent. Partagez vos connaissances sur les événements historiques, les personnages célèbres et les cultures passées. Rejoignez notre communauté d'historiens et de passionnés d'histoire et découvrez les secrets du passé.
                    </p>
                </div>
            </div>
        </div> <!-- /row  -->

    </div>
</div>
<!-- /Highlights -->
