<!-- Intro -->
<div class="container text-center">
    <br> <br>
    <h2 class="thin">A propos</h2>
    <p class="text-muted">
        Bienvenue sur notre blog, un endroit où les histoires de toutes sortes sont les bienvenues. Que vous ayez une histoire personnelle à partager, une fiction captivante ou des réflexions sur le monde qui vous entoure, nous vous invitons à les partager avec notre communauté. Nous croyons que chaque histoire a sa propre valeur et mérite d'être entendue. Rejoignez-nous dans cette aventure de découverte de l'écriture et de la narration, et faites partie de notre communauté en croissance de passionnés d'histoires.
    </p>
</div>
<!-- /Intro-->